/*
Theme Name: Newsy
Version: 1.0.0
Theme URI: https://demo.akbilisim.com/newsy
Description: A basic starter child theme for customization purpose of Newsy theme.
Author: akbilisim
Author URI: http://themeforest.net/user/akbilisim?ref=akbilisim
Template: newsy
License: GPLv2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
*/

/* ------------------------------------------------------------------------- *
 *  Theme customization starts here
/* ------------------------------------------------------------------------- */
